* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.box_01 {
    height: 200px;
    width: 500px;
    background-color: pink;
    border-radius: 20%;
    text-align: center;
    padding-top: 80px;
    color: white;
}